.favorites__header {
  margin-top: 25px;
}

.container {
  width: 100%;
  left: auto;
  margin-top: 25px;
}

.card {
  max-width: 250px;
  margin: 0 20px 20px;
}

.more-details-style {
  margin-left: -50px;
  margin-right: 50px;
}

.liked-icons {
  position: absolute;
  color: red;
  user-select: none;
  cursor: pointer;
}

.basket-icons {
  position: absolute;
  user-select: none;
  cursor: pointer;
  right: 5%;
}
