<div class="auth">
  <div class="auth__container">
    <div class="auth-logo">BARTER</div>
    <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="form-input">
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput
                 formControlName="login"
                 (blur)="onBlur('login')">
          <mat-error>{{'Поле обязательно для заполнения'}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password"
                 autocomplete="off"
                 (blur)="onBlur('password')">
          <mat-error>{{errorMsg}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button
          mat-raised-button
          class="auth-button"
          type="submit">Войти
        </button>
        <a class="registration" [routerLink]="['../registration']">Регистрация</a>
        <div class="login-form__test">Авторизация через социальные сети</div>
      </div>
      <div class="login-form__networks">
        <img src="assets/icons/vk.png" alt="" height="34"/>
        <img src="assets/icons/facebook.png" alt="" height="34"/>
        <img src="assets/icons/google.png" alt="" height="34"/>
        <img src="assets/icons/telegram.png" alt="" height="34"/>
      </div>
    </form>

  </div>
</div>
