.personal-room {
  margin-top: 25px;
  margin-left: 32px;
}

.personal-room__avatar {
  position: absolute;
  margin-left: 24px;
  width: 150px;
}

.user-info {
  margin-top: 110px;
  font-size: 24px;
  margin-left: 24px;
  line-height: 30px;
}

.container {
  position: relative;
  padding-right: 10px;
  width: 90%;
  left: auto;
}

.card {
  margin: 0 24px 24px;
  max-width: 250px;
}

.card-text {
  margin-top: 20px;
}

.deleteProduct {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}

.more-info {
  margin-left: -50px;
  margin-right: 50px;
}

.swap-icon {
  position: absolute;
  user-select: none;
  cursor: pointer;
  margin-top: 8px;
  right: 10%;
}
