<div class="personal-room">
  <h1 class="personal-room__header">Личный кабинет</h1>
  <img class="personal-room__avatar" src="./assets/img/avatar.png" alt="">
</div>

<div class="main-wrap">
  <div class="container">
    <!--    Информация при регистрации-->
    <div *ngFor="let user of userInfo" class="container__user-info">
      <b>firstName:</b> {{ user.firstName }}<br>
      <b>lastName:</b> {{ user.lastName }}<br>
      <b>email:</b> {{ user.email }}<br>
    </div>

  </div>
  <div>
    Мои товары:
  </div>

</div>
