<div class="sidenav">
  <img class="sidenav__avatar" [routerLink]="['../home/personal-room']" src="./assets/img/avatar.png" alt="">
  <div class="sidenav__info">
    <p [routerLink]="['../home/personal-room']">Личный кабинет</p>
    <p [routerLink]="['../home/favorites']">Избранные</p>
    <p [routerLink]="['../home/basket']">Корзина</p>
    <p [routerLink]="['../home/suggestions']">Предложения</p>
    <p [routerLink]="['../home/add-product']">Добавить товар</p>
    <p [routerLink]="['../login']">Выход</p>
  </div>

</div>
