<div class="registration">
  <div class="registration__container">
    <div class="registration-logo">Регистрация</div>
    <form class="registration-form" [formGroup]="registrationForm" (submit)="onSubmit()">
      <div class="registration-form__input">
        <mat-form-field appearance="fill">
          <mat-label>Имя</mat-label>
          <input matInput
                 required
                 type="text"
                 formControlName="name"
                 placeholder="Иван">
          <mat-error>{{formErrors.required}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Электронная почта</mat-label>
          <input matInput
                 type="email"
                 required
                 formControlName="email"
                 placeholder="example@mail.ru">
          <mat-error *ngIf="!(registrationForm.get('email').errors?.email)">{{ formErrors.required }}</mat-error>
          <mat-error *ngIf="registrationForm.get('email').errors?.email">{{ formErrors.email }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput
                 required
                 type="password"
                 formControlName="password"
                 placeholder="Password">
          <mat-error *ngIf="!(registrationForm.get('password').errors?.minlength) && !(registrationForm.get('password').errors?.pattern)">
            {{ formErrors.required }}
          </mat-error>
          <mat-error *ngIf="registrationForm.get('password').errors?.minlength">{{ formErrors.minLength }}</mat-error>
          <mat-error *ngIf="registrationForm.get('password').errors?.pattern && !(registrationForm.get('password').errors?.minLength)">
            {{ formErrors.pattern }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Повторите пароль</mat-label>
          <input matInput
                 required
                 type="password"
                 formControlName="confirmPassword"
                 placeholder="Confirm Password">
          <mat-error>{{formErrors.misMatchPasswords}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button
          mat-raised-button
          class="registration__button"
          type="submit">Зарегистрироваться
        </button>
        <a class="back" [routerLink]="['../login']">Назад</a>
      </div>

    </form>

  </div>
</div>
