<div class="new-product__header" align="center">
  <h1 class="test">Добавить товар</h1>
  <mat-card class="example-card">

    <form class="new-product-form" [formGroup]="newProductForm" (submit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Название товара</mat-label>
        <input matInput
               required
               type="text"
               formControlName="nameProduct"
               placeholder="Кружка">
        <mat-error>{{formErrors.required}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Категория товара</mat-label>
        <select matNativeControl required formControlName="status">
          <option *ngFor="let status of statuses"
                  [value]="status">{{ status }}</option>
        </select>
        <mat-error>{{formErrors.required}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Описание товара</mat-label>
        <textarea matInput required
                  formControlName="descriptionProduct"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="3"></textarea>
        <mat-error>{{formErrors.required}}</mat-error>
      </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Ссылка на изображение</mat-label>
              <input matInput
                     formControlName="imgUrl"
                     type="url"
                     required>
              <mat-error>{{formErrors.required}}</mat-error>
            </mat-form-field>

<!--      <p-fileUpload-->
<!--        name="files"-->
<!--        accept="image/*"-->
<!--        multiple="multiple"-->
<!--        url="/MyController/Save"-->
<!--        (onSelect)="dealWithFiles($event)"></p-fileUpload>-->

      <div>
        <button
          mat-raised-button
          class="new-product__button"
          type="submit">Добавить
        </button>
      </div>

    </form>


  </mat-card>
</div>
