.menu {
  position: absolute;
  position: fixed;
  z-index: 5;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 92.89%;
  background: #2258A5;

  display: flex;
}

.menu-logo {
  position: absolute;
  cursor: pointer;
  left: 3%;
  top: 35%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
}

.home {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.home__search {
  width: 600px;
  height: 40px;
  display: flex;
  margin: auto;
}

.home__input-text {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 0.875rem;
  background-color: white;
  color: #878786;
  line-height: 1.29;
  padding: 11px 10px 11px 10px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}

.personal-block {
  height: 40px;
  display: flex;
}

.personal-block__liked {
  cursor: pointer;
  margin-top: 5px;
  height: 26px;
  width: 45px;
  margin-right: 27px;
}

.personal-block__cart {
  cursor: pointer;
  height: 27px;
  width: 55px;
  margin-right: 100px;
}

.filters {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 24px;
}

.card {
  max-width: 250px;
  margin: 0 20px 20px;
}

.card__img {
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.burger {
  color: white;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
