<!--  Главная информация страницы -->
<div class="home">

  <div class="home__search">
    <input #searchBox type="text"
           class="home__input-text"
           (keyup)="searchProducts(searchBox.value)"
           placeholder="Search for Products">
    <button mat-raised-button
            color="primary"
            (click)="searchProducts(searchBox.value)">Search
    </button>
  </div>

  <div class="personal-block">
    <mat-icon class="personal-block__liked"
              [matTooltip]="'Избранные'"
              matBadge="{{favoriteLength}}" matBadgePosition="before" matBadgeColor="warn"
              [routerLink]="['../home/favorites']">favorite
    </mat-icon>
    <!--    <mat-icon class="personal-block__cart"-->
    <!--              [matTooltip]="'Корзина'"-->
    <!--              matBadge="{{basketLength}}" matBadgePosition="before" matBadgeColor="warn"-->
    <!--              [routerLink]="['../home/basket']">shopping_cart-->
    <!--    </mat-icon>-->
  </div>

</div>

<div class="filters">
  <mat-button-toggle-group name="Status" aria-label="Status">
    <mat-button-toggle (click)="onSetStatus('all')">{{ "Все" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('одежда')">{{ "Одежда" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('аксессуары')">{{ "Аксессуары" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('канцелярия')">{{ "Канцелярия" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('техника')">{{ "Техника" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('еда')">{{ "Еда" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('посуда')">{{ "Посуда" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('игрушки')">{{ "Игрушки" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('для отдыха')">{{ "Для отдыха" }}</mat-button-toggle>
    <mat-button-toggle (click)="onSetStatus('прочее')">{{ "Прочее" }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="container">
  <div class="row">
    <h2 align="center" *ngIf="!products.length">{{ message }}</h2>
    <div class="col-md-3 mb-3" *ngFor="let product of products, let favoriteP of favesProducts | filterStatus : status">
      <div class="card h-100" align="center">
        <div class="card-body">
          <p class="card-text">
            <img class="card-img-top" src="{{product.image}}" vspace="5" hspace="5" alt="Card image cap"
                 align="left">
            <b>name:</b> {{ product.name }}<br>
            <b>status:</b> {{ product.category }}<br>
            <b>exchange:</b> {{ product.exchange }}<br>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <div>
              <button
                mat-button
                class="more-details-style"
                [matTooltip]="'Больше информации о товаре'"
                (click)="getProductInformation(product.id)">Подробнее
              </button>
              <mat-icon
                class="liked-icons"
                [matTooltip]="'Добавить в избранные'"
                [ngStyle]="{'color': product.id === favoriteP.id ? 'gray' : 'red'}"
                (click)="selectedProductForFavorite($event, product.id)">favorite
              </mat-icon>
              <mat-icon
                class="basket-icons"
                [matTooltip]="'Добавить товар для обмена'"
                (click)="selectedProductForBasket($event, product.id)">swap_horiz
              </mat-icon>
            </div>
          </small>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
