<!--  Главная информация страницы -->
<div class="home">

  <div class="home__search">
    <input type="text" class="home__input-text" placeholder="Search for Products">
    <button mat-raised-button color="primary">Search</button>
  </div>

  <div class="personal-block">
    <svg class="personal-block__liked"
         [matTooltip]="'Избранные'"
         [routerLink]="['../home/favorites']">
      <use xlink:href="assets/icons/icons.svg#liked"></use>
    </svg>
    <svg class="personal-block__cart"
         [matTooltip]="'Корзина'"
         [routerLink]="['../home/basket']">
      <use xlink:href="assets/icons/icons.svg#cart"></use>
    </svg>
  </div>

</div>

<div class="filters">
  <mat-button-toggle-group name="Status" aria-label="Status">
    <mat-button-toggle [value]="'all'" (click)="onSetStatus('all')">{{ "All" }}</mat-button-toggle>
    <mat-button-toggle [value]="'alive'" (click)="onSetStatus('application')">{{ "Application" }}</mat-button-toggle>
    <mat-button-toggle [value]="'presumed dead'"
                       (click)="onSetStatus('x-shader')">{{ "x-shader" }}</mat-button-toggle>
    <mat-button-toggle [value]="'deceased'" (click)="onSetStatus('video')">{{ "Video" }}</mat-button-toggle>
    <mat-button-toggle [value]="'deceased'" (click)="onSetStatus('image')">{{ "Image" }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let product of products | async | filterStatus : status">
      <div class="card h-100" align="center">
        <div class="card-body">
          <p class="card-text">
            <img class="card-img-top" src="{{product.image}}" vspace="5" hspace="5" alt="Card image cap"
                 align="left">
            <b>name:</b> {{ product.name }}<br>
            <b>status:</b> {{ product.status }}<br>
            <b>exchange:</b> {{ product.exchange }}<br>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <div>
              <button
                mat-button
                [matTooltip]="'Больше информации о товаре'"
                class="more-details-style">Подробнее
              </button>
              <mat-icon
                class="liked-icons"
                [matTooltip]="'Добавить в избранные'"
                [ngStyle]="{'color': product.liked === true ? 'red' : 'gray'}"
                (click)="selectedProductForFavorite($event, product.id)">favorite
              </mat-icon>
              <mat-icon
                [matTooltip]="'Добавить товар в корзину'"
                class="basket-icons">shopping_cart
              </mat-icon>
            </div>
          </small>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
