.basket__header {
  margin-top: 25px;
}

.basket {
  position: relative;
  padding-right: 10px;
  width: 90%;
  left: auto;
}

.card {
  margin: 0 24px 24px;
}

.card-text {
  margin-top: 20px;
}

.deleteFromBasket {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}
