<div class="basket__header" align="center">
  <h1>Корзина</h1>

  <div class="basket">
    <div class="row">
      <h2 *ngIf="!products.length">{{ message }}</h2>
      <div class="col-md-3 mb-3" *ngFor="let product of products">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text">
              <mat-icon
                class="deleteFromBasket"
                [matTooltip]="'Удалить товар из корзины'"
                [matTooltipPosition]="'above'"
                (click)="deleteProductFromBasket($event, product.id)">close
              </mat-icon>
              <img class="card-img-top" src="{{product.image}}" vspace="5" hspace="5" alt="Card image cap">
              <b>name:</b> {{ product.name }}<br>
              <b>status:</b> {{ product.status }}<br>
              <b>exchange:</b> {{ product.exchange }}<br>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <div>
                <button
                  mat-button
                  (click)="getProductInformation(product.id)">Подробнее
                </button>
              </div>
            </small>
          </div>

        </div>
        <br>
      </div>
    </div>
  </div>
</div>
