.test {
  width: 50%;
  min-height: 200px;
  float: left;
}

.test2 {
  position: absolute;
  width: 30%;
  min-height: 150px;
  margin-left: 55%;
}

.card {
  padding: 5%;
  margin: 24px;
}

.card-title {
  font-size: 24px;
}

.card-text {
  text-align: left;
  line-height: 2;
  font-size: 16px;
}
