<div class="product-info" align="center">
  <br>
  <div class="card-deck">
    <div class="container">
      <div class="card">
        <img class="test" src="{{ product.image}}" alt="Card image cap">
        <div class="card-body test2">
          <h2 class="card-title">{{ product.name }}</h2>
          <p class="card-text">
            <b>status: </b>{{ product.status }}<br>
            <b>description: </b>{{ product.description }}<br>
            <b>exchange: </b>{{ product.exchange }}<br>
            <b>fullName: </b>{{ product.fullName }}<br>
            <b>email: </b>{{ product.email }}<br>
            <b>exchange2: </b>{{ product.exchange2 }}<br>
          </p>
        </div>
      </div>
      <br>
    </div>
  </div>

</div>
